@page
@model Labb2API.Pages.CreateCourseModel
@{
}

<form method="post">
    <div class="form-group">
        <label for="courseTitle">Title</label>
        <input type="text" class="form-control" id="courseTitle" name="courseTitle">
    </div>
    <div class="form-group">
        <label for="courseDescription">Description</label>
        <input type="text" class="form-control" id="courseDescription" name="courseDescription">
    </div>
    <div class="form-group">
        <label for="courseDuration">Duration</label>
        <input type="text" class="form-control" id="courseDuration" name="courseDuration">
    </div>
    <div class="form-group">
        <label for="courseDifficulty">Difficulty</label>
        <input type="text" class="form-control" id="courseDifficulty" name="courseDifficulty">
    </div>
    <div class="form-group">
        <label for="courseStatus">Status</label>
        <input type="text" class="form-control" id="courseStatus" name="courseStatus">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>

<script>

</script>