@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Välkommen</h1>
    <p>Den här hemisidan byggde jag med ASP.NET Core, hej!.</p>
</div>
